<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/bank?characterEncoding=utf8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
			<value>com/neusoft/po/Group.hbm.xml</value>
			<value>com/neusoft/po/Company.hbm.xml</value>
			<value>com/neusoft/po/Payment.hbm.xml</value>
			<value>com/neusoft/po/Draft.hbm.xml</value>
			<value>com/neusoft/po/Admin.hbm.xml</value>
			<value>com/neusoft/po/CompanyAccount.hbm.xml</value>
			<value>com/neusoft/po/CompanyOperator.hbm.xml</value>
			<value>com/neusoft/po/User.hbm.xml</value>
			<value>com/neusoft/po/CreditcardApplyed.hbm.xml</value>
			<value>com/neusoft/po/CreditCard.hbm.xml</value>
			<value>com/neusoft/po/BillDetail.hbm.xml</value>
			<value>com/neusoft/po/Log.hbm.xml</value>
			<value>com/neusoft/po/TransactionDetail.hbm.xml</value>
			<value>com/neusoft/po/Account.hbm.xml</value>
			<value>
				com/neusoft/po/CompanyTransactionDetail.hbm.xml
			</value>
			<value>com/neusoft/po/Bank.hbm.xml</value>
			<value>com/neusoft/po/Address.hbm.xml</value>
			<value>com/neusoft/po/PayeeList.hbm.xml</value>
			<value>com/neusoft/po/Constant.hbm.xml</value>
			<value>com/neusoft/po/Endorsement.hbm.xml</value></list>
		</property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="companyManager"
		class="com.neusoft.bo.CompanyManager">
		<property name="operatorDao" ref="CompanyOperatorDAO" />
		<property name="accountDao" ref="CompanyAccountDAO" />
		<property name="draftDao" ref="DraftDAO" />
		<property name="endorsementDao" ref="EndorsementDAO" />
	</bean>
	<bean id="creditCardManager"
		class="com.neusoft.bo.CreditCardManager">
		<property name="userDao" ref="UserDAO" />
		<property name="creditCardDao" ref="CreditCardDAO" />
		<property name="applyDao" ref="CreditcardApplyedDAO" />
	</bean>
		<bean id="userManager" class="com.neusoft.bo.UserManager">
		<property name="userDao" ref="UserDAO" />
		<property name="accountDao" ref="AccountDAO" />
		<property name="addressDao" ref="AddressDAO" />
	</bean>
	<bean id="adminManager" class="com.neusoft.bo.AdminManager">
		<property name="adminDao" ref="AdminDAO" />
		<property name="constantDao" ref="ConstantDAO" />
		
	</bean>
	<bean id="logManager" class="com.neusoft.bo.LogManager">
		<property name="logDao" ref="LogDAO" />
	</bean>
	<bean id="accountManager" class="com.neusoft.bo.AccountManager">
		<property name="userDAO" ref="UserDAO" />
		<property name="accountDAO" ref="AccountDAO" />
		<property name="constantDAO" ref="ConstantDAO" />
		<property name="plDAO" ref="PayeeListDAO" />
		<property name="transDAO" ref="TransactionDetailDAO"></property>
	</bean>
	
	<bean id="groupManager" class="com.neusoft.bo.GroupManager">
		<property name="caDAO" ref="CompanyAccountDAO" />
		<property name="coDAO" ref="CompanyOperatorDAO" />
		<property name="ctDAO" ref="CompanyTransactionDetailDAO" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="GroupDAO" class="com.neusoft.dao.GroupDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CompanyDAO" class="com.neusoft.dao.CompanyDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PaymentDAO" class="com.neusoft.dao.PaymentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="DraftDAO" class="com.neusoft.dao.DraftDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdminDAO" class="com.neusoft.dao.AdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CompanyAccountDAO"
		class="com.neusoft.dao.CompanyAccountDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CompanyOperatorDAO"
		class="com.neusoft.dao.CompanyOperatorDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserDAO" class="com.neusoft.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CreditcardApplyedDAO"
		class="com.neusoft.dao.CreditcardApplyedDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CreditCardDAO" class="com.neusoft.dao.CreditCardDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BillDetailDAO" class="com.neusoft.dao.BillDetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="LogDAO" class="com.neusoft.dao.LogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TransactionDetailDAO"
		class="com.neusoft.dao.TransactionDetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AccountDAO" class="com.neusoft.dao.AccountDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CompanyTransactionDetailDAO"
		class="com.neusoft.dao.CompanyTransactionDetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BankDAO" class="com.neusoft.dao.BankDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AddressDAO" class="com.neusoft.dao.AddressDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PayeeListDAO" class="com.neusoft.dao.PayeeListDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ConstantDAO" class="com.neusoft.dao.ConstantDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="EndorsementDAO" class="com.neusoft.dao.EndorsementDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>
